.img1{
    height: 20rem!important;
    
}
#lab_s_icon{
    position: relative;
    margin-top: 1rem;
    padding-right:0!important ;
}
#lab_srch{
    position: relative;
    margin-top: 15rem;
    margin-left: -15rem;
  
}